<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs'); %>

  <body>
    <%- include('./partials/nav.ejs', {active: 'categories' } ); %>
      <div class="container-md">

        <h1>
          <%= category.name %>
        </h1>
        <div class="grid">
          <% movies.forEach(function(movie){ %>
            <a href=<%=movie.url %> class="card" style="--bg-image:url(<%= movie.image %>)" >
                <span class="card-play material-icons">
                  play_circle_filled
                </span>
                <div class="card-title">
                  <%= movie.title %>
                </div>
                <div class="card-year">
                  <%= movie.year %>
                </div>

            </a>
            <% }) %>
        </div>


  </body>

</html>